body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

hr {
  color: #1976d2;
  height: 2px; /* Adjust the height to make it thicker */
  background-color: #1976d2; /* Ensures the color fills the entire line */
  border: none; /* Removes any default border styling */
  margin: 0 10%;
}

