/* Base styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Full height and width for HTML and body */
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Styles for horizontal rules */
hr {
  color: #1976d2;
  height: 2px;
  background-color: #1976d2;
  border: none;
  margin: 0 10%;
}
