/* Main Title Styles */
.rainfall-title {
  color: #1976d2;
  text-align: center;
  margin-bottom: 20px;
}

/* Section Title Styles */
.rainfall-section-title {
  color: #1976d2;
  text-align: center;
  margin: 20px 0;
  font-size: xx-large;
}

/* Description Text Styles */
.rainfall-description-text {
  text-align: left; 
  margin-bottom: 20px; 
  padding: 3%; 
  color: #000;
  background-color: #f0f8ff;
  border-left: 4px solid #1e90ff;
  border-radius: 8px;
  line-height: 1.6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for introductory and highlighted phrases */
.rainfall-description-text strong {
  color: #1e90ff;
  font-weight: bold;
}

/* Styling for italicized text */
.rainfall-description-text em {
  color: #1e90ff;
  font-style: italic;
}

/* Form Group Styles */
.form-group {
  margin-bottom: 15px;
  text-align: center;
}

/* Input Field Styles */
.input-field {
  padding: 10px;
  margin-top: 5px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Submit Button Styles */
.submit-button {
  background-color: #0fa225;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Submit Button Hover Effects */
.submit-button:hover {
  background-color: #1565c0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Prediction Result Styles */
.prediction-result {
  margin-top: 20px;
  color: #1976d2;
}

/* Prediction Text Styles */
.prediction-text {
  font-size: 18px;
}

/* Confidence Score Styles */
.confidence-score {
  font-size: 16px;
  color: #555;
}

/* Chart Toggle Styles */
.chart-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  background-color: #ecf6fe;
  border: 1px solid #ccc;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1870c9;
  border-radius: 5px;
  margin: 0 10%;
  transition: background-color 0.3s ease;
}

/* Chart Toggle Hover Effects */
.chart-toggle:hover {
  background-color: #d4e5f0;
}

/* Chart Icon Styles */
.chart-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

/* Chart Icon Open State */
.chart-icon.open {
  transform: rotate(180deg);
}

/* Chart Container Styles */
.chart-container {
  padding: 1em;
  border: 1px solid #ccc;
  border-top: none;
  margin: 0 10%;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .rainfall-description-text {
    padding-left: 5%;
    padding-right: 5%;
  }

  .input-field {
    width: 90%;
  }

  .rainfall-title {
    font-size: 2rem;
  }

  .rainfall-section-title {
    font-size: 1.5rem; 
  }

  .rainfall-description-text {
    font-size: 1rem; 
    padding: 10%;
  }

  .prediction-result {
    font-size: 1.5rem; 
  }

  .rainfall-title {
    font-size: 2rem;
  }

  .rainfall-section-title {
    font-size: 1.5rem; 
  }

  .rainfall-description-text {
    font-size: 1rem; 
    padding: 10%;
  }

  .prediction-result {
    font-size: 1.5rem; 
  }
}
