.faq-container {
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: var(--mui-shadow-2); 
  }
  
.faq-title {
    color: #1976d2;
    font-weight: bold;
    text-align: center;
}
  
.faq-description {
    color: #1976d2;
    font-size: 1.4rem; 
    margin-bottom: 20px;
    text-align: center;
}
  
.faq-question {
    color: #1976d2;
    font-size: 1.2rem; 
}
  
.faq-answer {
    color: #36454F;
    font-size: 1.0rem; 
}
  
.accordion {
    margin-bottom: 10px;
    border: 1px solid #1976d2;
}

/* Media queries for small screens */
@media (max-width: 600px) {
    .faq-container {
      padding: 10px; 
    }
  
    .faq-title {
      font-size: 1.5rem; 
    }
  
    .faq-description {
      font-size: 0.9rem; 
    }
  
    .faq-question {
      font-size: 1rem; 
    }
  
    .faq-answer {
      font-size: 0.8rem; 
    }
}